


.navbar-brand-login {
    margin: 0 auto;
}

.two-cards {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 50px auto;
}

.card {
  box-shadow: 7px 7px 15px rgb(200, 200, 200);
}

.card h2 {
    margin: 10px;
    color: gray;
}

.btn:hover {
    background-color: rgb(252, 220, 192);
    border: 1px solid rgb(252, 220, 192);
    font-weight: bold;
}

.birthdate {
    border: 1px solid rgb(221, 221, 221);
    padding: 20px 10px;
    border-radius: 5px;
}