
/*/////////////////// Login and register ///////////////////*/

.navbar-brand-login {
    margin: 0 auto;
}

.two-cards {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 50px auto;
}
#createaccount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
  box-shadow: 7px 7px 15px rgb(200, 200, 200);
  margin: 0 auto;
  padding: 10px;
}

.card h2 {
    margin: 10px;
    color: gray;
}

.btn-pink:hover {
    background-color: rgb(255, 212, 174);
    border: 1px solid rgb(255, 212, 174);
    color: gray;
}

.birthdate {
    border: 1px solid rgb(221, 221, 221);
    padding: 20px 10px;
    border-radius: 5px;
}


/*/////////////////// Profile ///////////////////*/

.hello {
    text-align: center;
    margin-top: 50px;
    color: rgb(255, 212, 174);
    font-style: italic;
}

.table {
    width: 40%;
    margin: 50px auto;
    color: gray;
}

.table input {
    color: gray;
}

.boutons {
    width: 15rem;
    margin: 0 auto;
}

.boutons input[type="submit"]{
    width: 100%;
    margin: 10px;
    text-align: center;
}


.create-account {
    color: rgb(255, 212, 174);
    font-weight: bold;
}

.create-account:hover {
    text-decoration: none;
}


/*/////////////////// Admin panel ///////////////////*/

.title {
    text-align: center;
    margin-top: 100px;
    color: gray;
}

.table-pink {
    background-color: rgb(245, 244, 244);
    border-radius: 10px;
}


/*/////////////////// Edit ///////////////////*/

.card-edit {
    margin-top: 50px;
}

.back {
    margin: 50px 0;
    display: flex;
}

.back a {
    margin: 0 auto;
}


